<div class="tz-gallery">
    <h1> 6 najlepszych ćwiczeń na barki</h1>
    <div class="row">

        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/barki/arnoldy.jpg">
                    <img src="assets/barki/arnoldy.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Arnoldki – wyciskanie hantli nad głowę z rotacją</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Stopy mocno wciśnij w podłogę.

                        2) Trzymaj głowę w równej linii z plecami.
                        
                        3) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/barki/podnoszeniebokiem.jpg">
                    <img src="assets/barki/podnoszeniebokiem.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Unoszenie ramion w przód ze sztangielkami</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Tempo: 1 sekunda w górę, 2 sekundy w dół.

                        2) Utrzymuj stałe napięcie mięśni.
                        
                        3) Nie kołysz tułowiem. Pamiętaj o spokojnym odłożeniu ciężaru.
                        
                        4) Trzymaj głowę w równej linii z plecami.
                        
                        5) Bądź skoncentrowany..</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/barki/podnoszenieprzodem.jpg">
                    <img src="assets/barki/podnoszenieprzodem.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Unoszenie ramion w przód ze sztangą </h3>
                    <h3>Wskazówki</h3>
                    <p>1) Tempo: 1 sekunda w górę, 2 sekundy w dół.

                        2) Utrzymuj stałe napięcie mięśni.
                        
                        3) Pamiętaj o spokojnym odłożeniu ciężaru.
                        
                        4) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/barki/wyciag.jpg">
                    <img src="assets/barki/wyciag.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Unoszenie ramienia z wykorzystaniem linki wyciągu dolnego</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Nie przesadzaj z ciężarem w tym ćwiczeniu.
                        2) Dbaj o stałe napięcie mięśni.
                        3) Nie kołysz tułowiem.
                        4) Trzymaj głowę w równej linii z plecami.
                        5) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/barki/wyciskaniesztangielek.jpg">
                    <img src="assets/barki/wyciskaniesztangielek.jpg" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>Wyciskanie hantli nad głowę siedząc</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Stopy mocno wciśnij w podłogę.

                        2) Łokieć znajduje się pod ciężarem podczas wykonywania ćwiczenia.
                        
                        3) Trzymaj głowę w równej linii z plecami.
                        
                        4) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/barki/wyciskaniezolnierskie.jpg">
                    <img src="assets/barki/wyciskaniezolnierskie.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Wyciskanie sztangi nad głowę</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Utrzymaj stałe napięcie ćwiczonych mięśni.
                        2) Ustabilizuj sylwetkę, napinając mięśnie brzucha oraz pośladki.
                        3) Nie wybijaj ciężaru z nóg.
                        4) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
    </div>

</div>