<div class="tz-gallery">
    <h1> 6 najlepszych ćwiczeń na biceps</h1>
    <div class="row">

        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/biceps/mlotki.jpg">
                    <img src="assets/biceps/mlotki.jpg" class="img-fluid" alt="Park">
                </a>
                <div class="caption">
                    <h3>Zginanie przedramion z hantlami w chwycie młotkowym</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Tempo: 1 sekunda w górę, 2 sekundy w dół.

                        2) Stopy mocno wciśnij w podłogę.
                        
                        3) Nie ruszaj biodrami podczas ruchu.
                        
                        4) Nie szarp ciężaru. Nie odrywaj łokci. Pamiętaj o spokojnym odłożeniu ciężaru.
                        
                        5) Trzymaj głowę w równej linii z plecami.
                        
                        6) Tylko przedramiona są ruchome.
                        
                        7) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/biceps/modlitewnik.jpg">
                    <img src="assets/biceps/modlitewnik.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Zginanie ramion ze sztangą na modlitewniku</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Nie doprowadzaj do przeprostu w łokciach.
                        2) Nie szarp ciężaru. Nie odrywaj łokci od pulpitu. Pamiętaj o spokojnym odłożeniu ciężaru.
                        3) Trzymaj głowę w równej linii z plecami.
                        4) Tylko przedramiona są ruchome.
                        5) Plecy są wyprostowane.
                        6) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/biceps/nachwyt.jpg">
                    <img src="assets/biceps/nachwyt.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Uginanie ramion ze sztangą nachwytem</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Nie bujaj ciałem.
                        2) Nie szarp ciężaru. Nie odrywaj łokci.
                        3) Trzymaj głowę w równej linii z plecami.
                        4) Tylko przedramiona są ruchome.
                        5) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/biceps/sztanga.jpg">
                    <img src="assets/biceps/sztanga.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Zginanie przedramion ze sztangą stojąc</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Tempo: 1 sekunda w górę, 2 sekundy w dół.
                        2) Stopy mocno zaparte o podłogę. Zadbaj o zachowanie prostej postawy ciała.
                        3) Napnij mięśnie brzucha i pośladków w celu dodatkowej stabilizacji odcinka lędźwiowego kręgosłupa.
                        4) Nie szarp ciężaru. Nie odrywaj łokci. Pamiętaj o spokojnym odłożeniu ciężaru.
                        5) Tylko przedramiona są ruchome.
                        6) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/biceps/unoszeniesiedzac.jpg">
                    <img src="assets/biceps/unoszeniesiedzac.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Zginanie przedramienia z hantlem – łokieć oparty na udzie</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Tempo: 1 sekunda w górę, 2 sekundy w dół.
                        2) Stopy mocno wciśnięte w podłogę.
                        3) Unikaj dynamicznego rozpędzania hantla i „wahadła”.
                        4) Nie szarp ciężaru. Pamiętaj o spokojnym odłożeniu ciężaru.
                        5) Tylko przedramiona są ruchome.
                        6) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/biceps/wyciag.jpg">
                    <img src="assets/biceps/wyciag.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Zginanie przedramion z drążkiem wyciągu dolnego stojąc</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Tempo: 1 sekunda w górę, 2 sekundy w dół.

                        2) Stopy mocno wciśnij w podłogę.
                        
                        3) Nie ruszaj biodrami podczas ruchu.
                        
                        4) Nie szarp ciężaru. Nie odrywaj łokci. Pamiętaj o spokojnym odłożeniu ciężaru.
                        
                        5) Trzymaj głowę w równej linii z plecami.
                        
                        6) Tylko przedramiona są ruchome.
                        
                        7) Plecy wyprostowane.
                        
                        8) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
    </div>

</div>