
 <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
        <div class="page-header">
            <h2 class="pageheader-title">Profil </h2>
            <hr>
        </div>
    </div>
</div>
<div class="row gutters" data-aos="fade-left"
data-aos-offset="100"
data-aos-delay="50"
data-aos-duration="700"
data-aos-easing="ease-in-out"
data-aos-mirror="true"
data-aos-once="true">
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
		<div class="card h-100">
			<div class="card-body">
				<div class="account-settings">
					<div class="user-profile">
						<div class="user-avatar" >
                            <img [src]="retrievedImage" (error) ="onImgError($event)">
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 " >
                            <input  class="float-left "type="file" (change)="onFileChanged($event)">  
                         
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mt-3 float-left ">
                            <input  class="float-left "type="button" (click)="uploadImage()" value="Zapisz profilowe">  
                         
                        </div>
					</div>
					<div class="about">		
                        <h3 class="text-primary">Cytat</h3>
                        <blockquote class="blockquote mb-0">
                            <p *ngIf="user.name != null">{{user?.notatka}}</p>  <p *ngIf="user.notatka== null">Dane do uzupełnienia</p>
                        </blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 ">
		<div class="card h-100 mt-3 mt-lg-0">
			<div class="card-body">
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<h6 class="mb-3 text-primary">Dane personalne</h6>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div >
                            <p *ngIf="user.name != null"><span>Imie</span>:{{user?.name}}</p>  <p *ngIf="user.name== null"><span>Imie:</span>Dane do uzupełnienia</p> 
						</div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div >
                            <p *ngIf="user.surname!= null"> <span>Nazwisko </span>:{{user?.surname}}</p> <p *ngIf="user.surname== null"><span>Nazwisko:</span>Dane do uzupełnienia</p>
					</div>
				</div> <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div >
                        <p><span>Login </span>: {{login}}</p> 
                    </div> 
                </div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class>
                            <p *ngIf="user.dateOfBirth != null"><span>Data Urodzenia</span>:{{user?.dateOfBirth}}</p> <p *ngIf="user.dateOfBirth== null"><span>Data Urodzenia:</span>Dane do uzupełnienia</p>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div >
					        <p *ngIf="user.wzrost != 0"><span>Wzrost </span>: {{user?.wzrost}}</p> <p *ngIf="user.wzrost== 0"><span>Wzrost:</span>Dane do uzupełnienia</p>
						</div>
					</div>
                </div>
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<h6 class="mb-3 text-primary">Adres</h6> 
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div >
                            <p *ngIf="user.kraj!= null"><span>Kraj </span>: {{user?.kraj}}</p> <p *ngIf="user.kraj== null"><span>Kraj:</span>Dane do uzupełnienia</p>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div >
                            <p *ngIf="user.miasto != null"><span>Miasto </span>: {{user?.miasto}}</p> <p *ngIf="user.miasto== null"><span>Miasto:</span>Dane do uzupełnienia</p>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div>
                            <p *ngIf="user.ulica != null"><span>Ulica </span>: {{user?.ulica}}</p> <p *ngIf="user.ulica== null"><span>Ulica:</span>Dane do uzupełnienia</p>
						</div>
					</div>	
				</div>
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<h6 class="mb-3 text-primary">Kontakt</h6>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div >
                            <p *ngIf="!user.phoneNumber== null"><span>Telefon </span>: {{user?.phoneNumber}}</p> <p *ngIf="user.phoneNumber== null"><span>Telefon:</span>Dane do uzupełnienia</p>
						</div>
					</div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div >
                            <p><span>Adres Email </span>: {{email}}</p> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>