<div class="tz-gallery">
<h1> 6 najlepszych ćwiczeń na klatke</h1>
    <div class="row">
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/klatka/skoswdol.jpg">
                    <img src="assets/klatka/skoswdol.jpg" class="img-fluid" alt="Park">
                </a>
                <div class="caption">
                    <h3>Wyciskanie sztangi na ławce skośnej głową w dół</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Tempo opuszczania sztangi powinno być dwa razy wolniejsze niż tempo wyciskania.
                        2) Utrzymuj stałe napięcie mięśni.
                        3) Postaraj się nie wyginać nadmiernie nadgarstków.
                        4) Dbaj o staw łokciowy, nie doprowadzaj do przeprostu ramienia pod ciężarem.
                        5) Skup się na prawidłowym oddychaniu.
                        6) Bądź skoncentrowany.
                        7) Jeżeli zamierzasz wyciskać duże ciężary, poproś o pomoc i asekurację.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/klatka/skoswdol.jpg">
                    <img src="assets/klatka/wyciskanie.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Wyciskanie sztangi na ławce płaskiej</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Stopy mocno zaprzyj o podłogę.

                        2) Utrzymuj stałe napięcie mięśni.
                        
                        3) Postaraj się nie wyginać nadmiernie nadgarstków.
                        
                        4) Dbając o staw łokciowy, nie doprowadzaj do pełnego wyprostu ramienia pod ciężarem.
                        
                        5) Skup się na prawidłowym oddychaniu.
                        
                        6) Bądź skoncentrowany.
                        
                        7) Wyciskając duże ciężary, poproś o pomoc i asekurację.
                        
                        8) Nie odbijaj sztangi od klatki piersiowej.
                        
                        9) Tempo opuszczania sztangi powinno być dwa razy wolniejsze niż jej wyciskanie.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="../images/tunnel.jpg">
                    <img src="assets/klatka/skoswgore.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Wyciskanie sztangi na ławce dodatniej</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Stopy mocno zaprzyj o podłogę.

                        2) Utrzymuj stałe napięcie mięśni.
                        
                        3) Postaraj się nie wyginać nadmiernie nadgarstków.
                        
                        4) Dbając o staw łokciowy, nie doprowadzaj do pełnego wyprostu ramienia pod ciężarem.
                        
                        5) Skup się na prawidłowym oddychaniu.
                        
                        6) Bądź skoncentrowany.
                        
                        7) Wyciskając duże ciężary, poproś o pomoc i asekurację.
                        
                        8) Tempo opuszczania sztangi powinno być dwa razy wolniejsze niż jej wyciskanie.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="../images/coast.jpg">
                    <img src="assets/klatka/rozpietki.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Rozpiętki z hantlami na ławce płaskiej</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Tempo opuszczania ramion powinno być dwa razy wolniejsze niż ich unoszenie.

                        2) Utrzymuj stałe napięcie mięśni.
                        
                        3) Skup się na prawidłowym oddychaniu.
                        
                        4) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="../images/rails.jpg">
                    <img src="assets/klatka/pompka.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Pompki (wersja klasyczna)</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Pamiętaj o utrzymywaniu napięcia mięśni brzucha i pośladków podczas całego ruchu.

                        2) Cały czas kontroluj ruch opuszczania tułowia.
                        3) Dynamicznie i mocno podnoś tułów.
                        
                        4) Utrzymuj głowę w równej linii z kręgosłupem (wzrok skierowany na podłoże).
                        5) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="../images/traffic.jpg">
                    <img src="assets/klatka/pompkanaporeczy.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Pompka na poręczy</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Kontroluj ruch podczas trwania ćwiczenia.

                        2) Bądź skoncentrowany.
                        
                        3) W celu uniknięcia urazu wykonując to ćwiczenie po raz pierwszy, nie należy opuszczać ciała przesadnie nisko.</p>
                </div>
            </div>
        </div>
    </div>

</div>