<div class="tz-gallery">
    <h1> 6 najlepszych ćwiczeń na nogi</h1>
    <div class="row">

        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/nogi/martwyciagnaprostychnogach.jpg">
                    <img src="assets/nogi/martwyciagnaprostychnogach.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Stiff leg deadlift</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Ruch opadu tułowia oraz powrotu następuje wyłącznie w obrębie bioder.
                        2) Nie szarp ciężaru. Pamiętaj o spokojnym odłożeniu ciężaru.
                        3) Trzymaj głowę w równej linii z plecami.
                        4) Bądź skoncentrowana.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/nogi/biodra.jpg">
                    <img src="assets/nogi/biodra.jpg" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>Unoszenie bioder ze sztangą w oparciu o ławeczkę płaską</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Pilnuj, aby podczas ruchu kolana nie schodziły się do środka.
                        2) Nogi ustaw tak, aby w momencie maksymalnego napięcia kąt w kolanach wynosił 90 stopni.
                        3) Jeżeli odczuwasz dyskomfort związany z uciskiem ciężaru, użyj gąbki na sztangę lub ręcznika. 
                        4) Pamiętaj o prawidłowym oddychaniu.
                        5) Postaraj się znaleźć właściwe napięcie mięśniowe.
                        6) Unoś biodra wysoko do momentu, aż tułów znajdzie się w jednej linii z udami, brzuch nie będzie wystawał ponad linię ciała,
                        
                        a pośladki będą maksymalnie napięte.
                        7) Pamiętaj, aby podczas wykonywania ćwiczenia pięty mocno dociskać do podłogi. 
                        8) Nie spiesz się podczas wykonywania tego ćwiczenia, zbyt szybkie wykonanie jest błędem technicznym.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/nogi/przysiad.jpg">
                    <img src="assets/nogi/przysiad.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Przysiad ze sztangą trzymaną na plecach</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Pamiętaj o prostych plecach oraz odcinku lędźwiowym.

                        2) Kontroluj ruch siadu.
                        
                        3) Nie bujaj tułowiem (trzymaj stabilnie w jednej linii).
                        
                        4) Głowa w równej linii z plecami.
                        
                        5) Wzrok skieruj przed siebie (ew. lekko do góry).
                        
                        6) Nie wykonuj kociego grzbietu.
                        
                        7) Nie wykonuj przeprostu w kolanach.
                        
                        8) Bądź skoncentrowana.
                        
                        9) Nie prowadź kolan do wewnątrz (utrzymuj je skierowane lekko na zewnątrz).
                        
                        10) Ciężar rozłóż równomiernie na całej stopie.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/nogi/przysiadblugarski.jpg">
                    <img src="assets/nogi/przysiadblugarski.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Przysiad bługarski</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Podparcie i ułożenie stopy zakrocznej jest swobodne. Podparcie może stanowić skrzynia, ławka do wyciskania bądź inne stabilne podparcie

                        o wysokości około 50 cm. 
                        2) Odległość nogi wykrocznej musisz dobrać sam. Odległość stóp musi być na tyle duża, by kolano pozwoliło osiągnąć odpowiednią głębokość przysiadu.
                        3) Postaraj się rozłożyć pracę nóg w stosunku 80% dla nogi wykrocznej
                        
                        i 20% dla nogi zakrocznej. 
                        4) Postaraj się utrzymać przebieg pracy kolana bezpośrednio nad stopą, unikaj koślawienia kolan. 
                        5) Nie pochylaj tułowia.
                        6) Zadbaj o odpowiednie obuwie, zbyt miękka podeszwa będzie powodować niestabilność.
                        7) Nie wykonuj przeprostu w stawie kolanowym. 
                        8) Nie spiesz się podczas wykonywania tego ćwiczenia, zbyt szybkie wykonanie jest błędem technicznym.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/nogi/sumo.jpg">
                    <img src="assets/nogi/sumo.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Martwy ciąg sumo</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Ostrożnie dobieraj ciężar do swoich możliwości.
                        2) Jeżeli nie jesteś pewny swojej techniki, poproś innego ćwiczącego
                        
                        o pomoc.
                        3) Pamiętaj o odpowiednim oddychaniu. 
                        4) Staraj się utrzymywać głowę w przedłużeniu kręgosłupa. 
                        5) Ćwiczenie to nie powinno powodować bólu w odcinku lędźwiowym kręgosłupa – jeżeli taki odczuwasz, oznacza to nieprawidłową technikę wykonywania ćwiczenia.
                        6) Nie spiesz się podczas wykonywania tego ćwiczenia, zbyt szybkie wykonanie jest błędem technicznym.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/nogi/suwnica.jpg">
                    <img src="assets/nogi/suwnica.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Wypychanie nogami na suwnicy</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Plecy cały czas przylegają do oparcia maszyny.

                        2) Nie wykonuj przeprostu w kolanach.
                        
                        3) Powolnym i kontrolowanym ruchem opuszczaj ciężar.
                        
                        4) Głowę trzymaj w równej linii z plecami.
                        
                        5) Wzrok kieruj przed siebie.
                        
                        6) Pamiętaj o stałym napięciu mięśnia.
                        
                        7) Bądź skoncentrowana.</p>
                </div>
            </div>
        </div>
    </div>

</div>