<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
        <div class="page-header">
            <h2 class="pageheader-title">Statystyki pomiarów </h2>
            <hr>
        </div>
    </div>
</div>

  <nav class="navbar navbar-expand-md  bg-dark navbar-dark">
    <a class="navbar-brand" >Wybierz Pomiar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">


            <ul class="navbar-nav">

                <li class="nav-item ">
                    <a class="nav-link" routerLink="/dashboard/statystyki-pomiarow/waga">Waga</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/statystyki-pomiarow/biceps">Biceps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/statystyki-pomiarow/udo">Udo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"routerLink="/dashboard/statystyki-pomiarow/talia">Talia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/dashboard/statystyki-pomiarow/brzuch">Brzuch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"routerLink="/dashboard/statystyki-pomiarow/przedramie">Przedramie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/dashboard/statystyki-pomiarow/lydka">Łydka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/statystyki-pomiarow/szyja">Szyja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/statystyki-pomiarow/klatka">Klatka</a>
                </li>
            </ul>


    </div>
</nav>
  <router-outlet></router-outlet>
