<footer class="section footer-classic  context-dark bg-image" style="background: #2d3246;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 ">
            <h5>Informacje</h5>
          <div class="pr-xl-4">
            <p>Najlepsza aplikacja fitness na rynku</p>
      
            <p class="rights"><span>©</span><span class="copyright-year">2020</span><span> </span><span>Sosnowiec</span><span>. </span><span>Wszystkie prawa zastrzeżone</span></p>
            <br>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Kontakt</h5>
          <dl class="contact-list">
            <dt>Adres email:</dt>
            <dd><a href="mailto:#">ksiedlarski@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>Numer Kontaktowy:</dt>
            <dd>+48 500 200 300 </dd>
          </dl>
        </div>
        <div class="col-md-4">
          <h5>Sponsorzy</h5>
          <ul class="nav-list">
            <li><a href="https://sklep.kfd.pl/">KFD</a></li>
            <li><a href="https://sklep.sfd.pl/">SFD</a></li>
            <li><a href="https://olimpsport.com/pl/">OLIMP</a></li>
            <li><a href="https://www.kartamultisport.pl/">MULTISPORT</a></li>
            <li><a href="https://www.ebeactive.pl/">BeActive</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="https://www.facebook.com/krystian.siedlarski"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
      <div class="col"><a class="social-inner" href="https://www.instagram.com/ksiedlarski/?hl=pl"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
      <div class="col"><a class="social-inner" href="https://twitter.com/KrystianSiedla1"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
      <div class="col"><a class="social-inner" href="https://www.youtube.com/watch?v=GbAHs3Bs8I4"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
  </footer>