<div class="tz-gallery">
    <h1> 6 najlepszych ćwiczeń na plecy</h1>
    <div class="row">

        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/plecy/martwyciag.jpg">
                    <img src="assets/plecy/martwyciag.jpg" class="img-fluid" alt="Park">
                </a>
                <div class="caption">
                    <h3>Martwy Ciąg</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Warunkiem do wykonania ćwiczenia jest zdolność utrzymania prostych pleców.
                        2) Ćwiczenie wykonuj powoli, z pełną kontrolą.
                        3) Pamiętaj o ustabilizowaniu sylwetki poprzez uruchomienie tłoczni brzusznej, czyli wdech przeponowy oraz napięcie mięśni brzucha.
                        4) Tylko poprawne wykonywanie tego ćwiczenia zapewnia bezpieczeństwo.
                        5) W celu wzmocnienia chwytu jedną dłonią możesz chwycić sztangę podchwytem.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/plecy/prostopadleprzyciaganiedrazka.jpg">
                    <img src="assets/plecy/prostopadleprzyciaganiedrazka.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Prostopadłe przyciąganie drążka wyciągu górnego do bioder</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Unikaj kołysania tułowiem i „rozpędzania” ciężaru.
                        2) Ćwiczenie wykonuj powoli, z pełnym wyczuciem zaangażowanej grupy mięśniowej.
                        3) Postaraj się inicjować ruch pracą mięśni grzbietu.
                        4) Podczas wykonywania ruchu skup się na pracy łopatek.
                        5) Zwróć uwagę na prawidłowe oddychanie.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/plecy/sciaganiedrazka.jpg">
                    <img src="assets/plecy/sciaganiedrazka.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Ściąganie drążka nachwytem na szerokość barków</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Unikaj kołysania tułowiem i „rozpędzania” drążka.
                        2) Ćwiczenie wykonuj powoli, z pełnym wyczuciem zaangażowanej grupy mięśniowej.
                        3) Postaraj się inicjować ruch z mięśni grzbietu, a nie z ramion.
                        4) Skup się podczas wykonywania ruchu.
                        5) Zwróć uwagę na prawidłowe oddychanie.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/plecy/wioslowanie.jpg">
                    <img src="assets/plecy/wioslowanie.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Wiosłowanie sztangą trzymaną nachwytem do klatki w opadzie tułowia</h3>
                    <p>1) Postaraj się zachować proste plecy podczas wykonywania ćwiczenia.
                        2) Ćwiczenie wykonuj powoli, z pełnym wyczuciem zaangażowanej grupy mięśniowej.
                        3) W czasie wykonywania tego ćwiczenia nie możesz doprowadzać do tworzenia się tzw. kociego grzbietu, czyli wygięcia pleców w łuk.
                        4) Skup się podczas wykonywania ruchu.
                        5) Zwróć uwagę na prawidłowe oddychanie.
                        6) Postaraj się wykonywać ruch poprzez mocną pracę łopatek.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/plecy/wioslowaniehantlem.jpg">
                    <img src="assets/plecy/wioslowaniehantlem.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Wiosłowanie hantlą w klęku podpartym na ławeczce</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Ustaw prawe kolano na jednym końcu ławeczki płaskiej.

                        2) Utrzymując plecy proste, pochyl tułów do przodu do momentu, w którym będzie równolegle do podłoża.
                        
                        3) Oprzyj prawą rękę na drugim końcu ławeczki.
                        
                        4) Lewą ręką podnieś sztangielkę znajdującą się z boku ławki. Palce zwróć w stronę tułowia.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/plecy/wioslowaniekoncemsztangi.jpg">
                    <img src="assets/plecy/wioslowaniekoncemsztangi.jpg" class="img-fluid" alt="Bridge">
                </a>
                <div class="caption">
                    <h3>Wiosłowanie końcem sztangi chwytem neutralnym w opadzie tułowia</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Utrzymuj proste plecy podczas wykonywania ćwiczenia.
                        2) Skup się podczas wykonywania ruchu na pracy łopatek.
                        3) Zwróć uwagę na prawidłowe oddychanie.
                        4) Postaraj się wykonywać ruch poprzez mocną pracę mięśni grzbietu.
                        5) Staraj się nie kołysać tułowiem.
                        6) W celu zwiększenia zakresu ruchu staraj się zakładać na koniec sztangi talerze z mniejszą średnicą.</p>
                </div>
            </div>
        </div>
    </div>

</div>