<div class="tz-gallery">
    <h1> 6 najlepszych ćwiczeń na triceps</h1>
    <div class="row">
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/triceps/francuskie.jpg">
                    <img src="assets/triceps/francuskie.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Wyciskanie sztangi wąskim chwytem</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Kontroluj ruch podczas trwania ćwiczenia.
                        2) Bądź skoncentrowany.
                        3) Upewnij się, że podczas ruchu prowadzisz łokcie blisko tułowia, tak aby maksymalnie zaangażować mięśnie trójgłowe ramienia.
                        4) Opuszczanie sztangi powinno trwać dwa razy dłużej niż jej wyciskanie.
                        5) Jeżeli wykonujesz to ćwiczenie po raz pierwszy, poproś kogoś o asekurację.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/triceps/francuskiehantle.jpg">
                    <img src="assets/triceps/francuskiehantle.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Wyciskanie francuskie hantlami z przenoszeniem ramion za głowę</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Inicjując wdech, opuść hantle do czoła, trzymając ramiona nieruchomo. Przedramiona wykonują półkolisty ruch.
                        2) Utrzymując stałe zgięcie w łokciu, przenieś hantle za głowę.
                        3) Następnie przenieś hantle z powrotem nad czoło i wykonaj wyprost w łokciach, wracając do pozycji początkowej.
                        4) Wykonaj wyznaczoną liczbę powtórzeń.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/triceps/francuskiewyciag.jpg">
                    <img src="assets/triceps/francuskiewyciag.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Prostowanie przedramion z liną z wyciągu dolnego siedząc</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Kontroluj ruch podczas trwania ćwiczenia.
                        2) Utrzymuj łokcie blisko głowy.
                        3) Staraj się nie wyginać pleców w łuk, uruchom tłocznię brzuszną, która pozwoli na stabilizację sylwetki.
                        4) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/triceps/lawkadipy.jpg" >
                    <img src="assets/triceps/lawkadipy.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Pompki w podporze tyłem na ławeczce</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Kontroluj ruch podczas trwania ćwiczenia.
                        2) Trzymaj głowę w równej linii z plecami.
                        3) Bądź skoncentrowany.
                        4) Trzymaj mocno napięty brzuch.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/triceps/wyciag.jpg">
                    <img src="assets/triceps/wyciag.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Prostowanie ramion z linkami wyciągu górnego</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Kontroluj ruch podczas trwania ćwiczenia.
                        2) Utrzymuj stabilną sylwetkę, jedyny ruch ma się odbywać w stawach łokciowych.
                        3) Bądź skoncentrowany.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/triceps/wyciskaniazzakarku.jpg">
                    <img src="assets/triceps/wyciskaniazzakarku.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Prostowanie przedramion ze sztangielką trzymaną oburącz siedząc</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Kontroluj ruch podczas trwania ćwiczenia.
                        2) Utrzymuj łokcie blisko głowy.
                        3) Staraj się nie wyginać pleców w łuk.
                        4) Bądź skoncentrowany.
                        
                         </p>
                </div>
            </div>
        </div>
    </div>

</div>