body{
    background-size: cover;
    background: url("src/assets/logintlo.jpg") center center no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    overflow: auto;
}
.col-md-12{
    margin:auto;
    margin-top: 10%;
}
#link{
  color:blue;
}
#link:hover{
  color:blue;
  text-decoration:underline;
}
label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  background-color: #ffffff;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border:5;
  border-radius: 1rem;
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
} 