.card{
    width: 300px;
    height: 300px;
    overflow: auto;
    width: 300px;
    height: 300px;
   
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}
.mat-paginator{
  margin-top: 50px;
  position: absolute;
  bottom: 0px;
  left:0px;
}
.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
p{
    font-size:30px;
}
span{
    text-decoration: underline;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  

    
    @media only screen and (max-width:992px) {
        .card {
           
     left:20%;
        }
        }
        #content {
          position: relative;
      }
      #content i {
          position: absolute;
          top: 0px;
          right: 0px;
          font-size: 20px;
          color: red;
      }