
    <section id="team" class="team"    >
      <div class="section-heading text-center">
        <h2 id ="opinie">Opinie</h2>
      </div>
        <div class="container"  data-aos="fade-up-left"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="900"
        data-aos-mirror="true"
        data-aos-once="true"
        >
          <div class="row" >
    
            <div class="col-lg-4 col-12">
              <div class="member" >
                <div class="pic"><img src="assets/fb.jpg" class="img-fluid" ></div>
                <div class="member-info">
                  <h4>Mateusz Belka</h4>
                  <span >
        
                    Jeśli Twoim celem jest trening na siłowni, GYMNOTATION będzie twoją nową aplikacją do ćwiczeń, niezależnie od Twojego poziomu sprawności.</span>
                  
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 col-12">
              <div class="member">
                <div class="pic"><img src="assets/werka.jpg" class="img-fluid"></div>
                <div class="member-info">
                  <h4>Weronika Piekacz</h4>
                  <span>
                    Nadal jestem zaskoczona liczbą osób, które widzę na siłowni z zeszytem .... GYMNOTATION zapewnia odpowiednią równowagę, oferując wystarczającą liczbę funkcji.</span>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 col-12">
              <div class="member">
                <div class="pic"><img src="assets/ja.jpg" class="img-fluid" ></div>
                <div class="member-info">
                  <h4>Krystian Siedlarski</h4>
<span>Pamiętam, jak chodziłem po siłowni z notatnikiem, żeby zapisywać każde ćwiczenie. Ta aplikacja pomogła mi zastąpić stary papier i dać mu zastrzyk mądrości.</span>                
</div>
              </div>
            </div>
    
          </div>
    
        </div>
      </section>
    

    