<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
        <div class="page-header">
            <h2 class="pageheader-title">Usuń konto </h2>
            <hr>
        </div>
    </div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" data-aos="fade-up"
data-aos-offset="100"
data-aos-delay="50"
data-aos-duration="700"
data-aos-easing="ease-in-out"
data-aos-mirror="true"
data-aos-once="true">
    <div class="card">
        <div class="card-body">
            <h1>Cześć,</h1>
            <h2>Przykro nam słyszeć że chcesz nas opuścić, jednakże chcemy ci podziękować za korzystanie z naszej aplikacji i mamy nadzieję że jeszcze kiedyś do nas wrócisz.</h2>
          <br>
            <h3> Zanim usuniesz swoje konto,prosimy pamiętaj o następujących konsekwencjach: </h3>
            <ul class="list">
                <li>Twoje konto zostanie usunięte permanentnie, a wraz z nim wszystkie dane.</li>
                <li>Nie ma możliwości odzyskania utraconych danych.</li>
                <li>Działania nie można cofnąć.</li>
                </ul>
        </div>
        <p type="button" class="btn btn-danger mb-0" (click)="deleteUser()">Usuń konto</p>
       
    </div>
</div>
