<div class="tz-gallery">
    <h1> 6 najlepszych ćwiczeń na brzuch</h1>
    <div class="row">

        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/brzuch/deska.jpg">
                    <img src="assets/brzuch/deska.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Izometryczny skurcz mięśni brzucha w podporze przodem. Deska/ścianka/plank</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Mięśnie brzucha i pośladków powinny być napięte przez cały czas trwania ćwiczenia.
                        2) Dolny odcinek pleców nie powinien być nadmiernie wygięty.
                        3) Oddychaj podczas utrzymywania izometrycznego skurczu.
                        4) W celu zwiększenia intensywności ćwiczenia unieś nieznacznie jedną nogę lub użyj obciążenia.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/brzuch/deskabokiem.jpg">
                    <img src="assets/brzuch/deskabokiem.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Deska bokiem</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Mięśnie brzucha powinny być mocno napięte, całe ciało w jednej linii.
                        2) Dolny odcinek pleców nie może być wygięty.
                        3) W celu zwiększenia intensywności ćwiczenia możesz wykonać je z zaczepioną jedną nogą.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/brzuch/brzuszki.jpg">
                    <img src="assets/brzuch/brzuszki.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Unoszenie tułowia z podłoża. Spięcia brzucha leżąc. Brzuszki</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Mięśnie brzucha powinny być mocno napięte przez cały czas trwania ćwiczenia.

                        2) Ćwiczenie wykonuj powoli, z pełnym wyczuciem zaangażowanej grupy mięśniowej.
                        
                        3) Skup się podczas wykonywania ruchu.
                        
                        4) Zwróć uwagę na prawidłowe oddychanie.</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/brzuch/russiantwist.jpg">
                    <img src="assets/brzuch/russiantwist.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Russian twist</h3>
                    <h3>Wskazówki</h3>
                    <p>1) Pamiętaj, aby cały czas śledzić odważnik wzrokiem.
                        2) Mięśnie brzucha powinny być mocno napięte przez cały czas trwania ćwiczenia.
                        3) Nie pozwól, aby ciało kołysało się do przodu i do tyłu podczas wykonywania skrętu.
                        
                        4) Skup się, aby cały czas skręcać tułów i nie przenosić odważnika tylko samymi rękami.
                        5) Jeżeli utrzymanie nóg w górze będzie zbyt trudne, ustaw pięty na podłodze.
                        6) Ćwiczenie wykonuj powoli, z pełnym wyczuciem zaangażowanej grupy mięśniowej.
                        
                         </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/brzuch/wznosynog.jpg">
                    <img src="assets/brzuch/wznosynog.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Przyciąganie kolan do klatki w zwisie na drążku</h3>
                    <h3>Wskazówki</h3>
                    <p> 1) Mięśnie brzucha powinny być mocno napięte przez cały czas trwania ćwiczenia.
                        2) Ćwiczenie wykonuj powoli, z pełnym wyczuciem zaangażowanej grupy mięśniowej.
                        3) Skup się podczas wykonywania ruchu.
                        4) Zwróć uwagę na prawidłowe oddychanie</p>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/brzuch/allahy.jpg">
                    <img src="assets/brzuch/allahy.jpg" class="img-fluid" >
                </a>
                <div class="caption">
                    <h3>Allahy</h3>
                    <h3>Wskazówki</h3>
                    <p> 1)Najważniejsze jest czucie mięśniowe i skupienie się na momencie spięcia.
                        2) Najczęściej popełniane błędy w tym ćwiczeniu to szarpanie, ciągnięcie rękoma ciężaru, wymuszanie powtórzeń i niepełny zakres ruchu. 
                        3) Dobierzcie także odpowiedni ciężar, ponieważ zbyt duży obciąży kręgosłup, zamiast pobudzać mięśnie do pracy.</p>
                </div>
            </div>
        </div>
    </div>

</div>