
<body>
    <div class="container h-100  justify-content-center" data-aos="flip-right"
    data-aos-offset="200"
    data-aos-delay="80"
    data-aos-duration="800"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="true">
      <div class="col-md-12">
        <div class="card card-container">
          <img
            id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card"
          />
          <form
            *ngIf="!isLoggedIn"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
          >
            <div class="form-group">
              <label for="username">Nazwa użytkownika</label>
              <input
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && username.invalid"
              >
               Nazwa użytkownika jest wymagana
              </div>
            </div>
            <div class="form-group">
              <label for="password">Hasło</label>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && password.invalid"
              >
                <div *ngIf="password.errors.required">Hasło jest wymagane</div>
                <div *ngIf="password.errors.minlength">
                Hasło musi mieć minimum 6 znaków
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">
           Zaloguj
              </button>
            </div>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && isLoginFailed"
              >
                {{ errorMessage }}
              </div>
            </div>
            <hr class="my-4">
            <a role="button" class="btn" id="link" (click)="rejestracja()" >
              Nie posiadasz konta? Zarejestruj się.
            </a>
            <a role="button" class="btn" id="link" (click)="haslo()" >
              Zapomniałeś hasła? Kliknij tutaj.
            </a>
          </form>
        </div>
      </div>
    </div>
</body> 
