<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
        <div class="page-header">
            <h2 class="pageheader-title">BMI </h2>
            <hr>
        </div>
    </div>
</div>

<div *ngIf="ifPomiar && ifWzrost"> 
    <div class ="row" data-aos="fade-left"
    data-aos-offset="100"
    data-aos-delay="50"
    data-aos-duration="700"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="true">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" >
<h3>Wzrost: {{wzrost}}</h3>
<h3>Ostatnia waga: {{waga[0]}}</h3><hr>

<h3>Twój wskaźnik masy ciała wynosi: {{suma}}</h3><br>
<div >
    <h3>Stopień według tabeli : {{bmi_nazwa}} </h3>  
   </div>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" >
<h2>Zakresy wartości BMI:<br><br>

<span style="color:#082E79">mniej niż 16 - wygłodzenie</span><br>
<span style="color:#4169E1"> 16 - 16.99 - wychudzenie</span><br>
<span style="color:#ACE1AF">17 - 18.49 - niedowaga</span><br>
<span style="color:#CDEBA7"> 18.5 - 24.99 - wartość prawidłowa</span><br>
<span style="color:yellow"> 25 - 29.99 - nadwaga</span><br>
<span style="color:#FDE456">30 - 34.99 - I stopień otyłości</span><br>
<span style="color:#CF2929">35 - 39.99 - II stopień otyłości</span><br>
<span style="color:#801818"> powyżej 40 - otyłość skrajna</span><br></h2><hr>
</div></div>

</div>
<h4 *ngIf="!ifWzrost  && ifPomiar && loading ">Nie posiadasz jeszcze wzrostu, uzupełnij go <span class="text-primary"  routerLink="/dashboard/zmien-informacje" type="button">tutaj</span></h4>
    <h4 *ngIf="!ifPomiar && ifWzrost && loading">Nie posiadasz jeszcze pomiaru wagi, uzupełnij go<span class="text-primary"  routerLink="/dashboard/dodaj-pomiar" type="button">tutaj</span></h4>
        <h4 *ngIf="!ifPomiar && !ifWzrost && loading">Nie posiadasz jeszcze pomiaru wagi oraz  wzorstu, uzupełnij je</h4>