<section id="portfolio" class="portfolio">
  <div class="section-heading text-center">
    <h2 id="galeria">Jak działa GymNotation</h2>
  </div>
   <div class="container" data-aos="zoom-out-up"
   data-aos-offset="200"
   data-aos-delay="50"
   data-aos-duration="900"
   data-aos-mirror="true"
   data-aos-once="true"
   >>
     <div class="row portfolio-container" >

       <div class="col-lg-4 col-md-6 portfolio-item filter-app">
         <div class="portfolio-wrap">
           <img src="assets/tytulowa.png" class="img-fluid" alt="">
           <div class="portfolio-links">
             <a href="assets/tytulowa.png" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="fas fa-plus-square"></i></a>
           </div>
         </div>
       </div>

       <div class="col-lg-4 col-md-6 portfolio-item filter-web">
         <div class="portfolio-wrap">
           <img src="assets/zaloguj.png"  class="img-fluid" alt="">
           <div class="portfolio-links">
             <a href="assets/zaloguj.png"  data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fas fa-plus-square"></i></a>
       
           </div>
         </div>
       </div>

       <div class="col-lg-4 col-md-6 portfolio-item filter-app">
         <div class="portfolio-wrap">
           <img src="assets/dashboard.png" class="img-fluid" alt="">
           <div class="portfolio-links">
             <a href="assets/dashboard.png" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="fas fa-plus-square"></i></a>
       
           </div>
         </div>
       </div>

       <div class="col-lg-4 col-md-6 portfolio-item filter-card">
         <div class="portfolio-wrap">
           <img src="assets/dashboard.png" class="img-fluid" alt="">
           <div class="portfolio-links">
             <a href="assets/dashboard.png" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="fas fa-plus-square"></i></a>
       
           </div>
         </div>
       </div>

       <div class="col-lg-4 col-md-6 portfolio-item filter-web">
         <div class="portfolio-wrap">
           <img src="assets/dashboard.png" class="img-fluid" alt="">
           <div class="portfolio-links">
             <a href="assets/dashboard.png" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="fas fa-plus-square"></i></a>
           
           </div>
         </div>
       </div>

       <div class="col-lg-4 col-md-6 portfolio-item filter-app">
         <div class="portfolio-wrap">
           <img src="assets/dashboard.png" class="img-fluid" alt="">
           <div class="portfolio-links">
             <a href="assets/dashboard.png" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="fas fa-plus-square"></i></a>
          
           </div>
         </div>
       </div>

       <div class="col-lg-4 col-md-6 portfolio-item filter-card">
         <div class="portfolio-wrap">
           <img src="assets/dashboard.png" class="img-fluid" alt="">
           <div class="portfolio-links">
             <a href="assets/dashboard.png" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="fas fa-plus-square"></i></a>
   
           </div>
         </div>
       </div>

       <div class="col-lg-4 col-md-6 portfolio-item filter-card">
         <div class="portfolio-wrap">
           <img src="assets/dashboard.png" class="img-fluid" alt="">
           <div class="portfolio-links">
             <a href="assets/dashboard.png" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fas fa-plus-square"></i></a>
          
           </div>
         </div>
       </div>

       <div class="col-lg-4 col-md-6 portfolio-item filter-web">
         <div class="portfolio-wrap">
           <img src="assets/dashboard.png" class="img-fluid" alt="">
           <div class="portfolio-links">
             <a href="assets/dashboard.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fas fa-plus-square"></i></a>
           </div>
         </div>
       </div>

     </div>

   </div>
 </section>
 
    